<section class="content">
  <div class="container-fluid">

    <div class="card card-dark m-3 ">
      <div class="card-header d-flex justify-content-center ">
        <h5 class=" my-auto mr-auto">Data Product</h5>
        <div class="card-tools my-auto">
          <!-- This will cause the card to collapse when clicked -->

          <button type="button" class="btn btn-tool"><i class="fa-solid fa-print"></i></button>
          <button type="button" class="btn btn-tool"><i class="fa-solid fa-arrow-rotate-right"></i></button>

          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
        <!-- /.card-tools -->
      </div>
      <div class="card-body">
        <div class="d-flex mb-3 justify-content-between">


          <!--Add Button-->
          <a name="add" id="" class="btn btn-info mr-2 mr-sm-auto" href="#" data-toggle="modal"
            data-target="#exampleModal" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline ml-1">
              Add Product
            </span>
          </a>
          <!--Modal to Input Product-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">

                    <label for="inputGroupSelect01">Category </label>
                    <select class="custom-select mb-3" id="inputGroupSelect01" >
                      <option value="1">Ticket</option>
                      <option value="2">Camping</option>
                    </select>

                    <label for="">Product Name</label>
                    <input type="text" class="form-control mb-3" name="" id="" placeholder="">
                    
                    <label for="">Price</label>
                    <input type="number" class="form-control mb-3" name="" id="" placeholder="">

                    <label for="">Description</label>
                    <input type="number" class="form-control mb-3" name="" id="" placeholder="">

                    <div class="form-group">
                      <label for="exampleFormControlFile1">Product Picture</label>
                      <input type="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary b" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Add Product</button>
                </div>
              </div>
            </div>
          </div>
          <!--End Modal-->
          <!--Search-->
          <form class="form-inline">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Search" aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="collapse" id="contentId">

        </div>
        <div class="table-responsive ">
          <table class="table table-striped text-center ">
            <thead>
              <tr>
                <th>No</th>
                <th style="min-width: 120px;">Category</th>
                <th style="min-width: 144px;" class="col">Product Name</th>
                <th style="min-width: 120px;">Price</th>
                <th style="min-width: 90px;">Gallery</th>
                <th style="min-width: 144px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="align-middle">1</td>
                <td class="align-middle">Ticket</td>
                <td class="align-middle">Ticket</td>
                <td class="align-middle">Rp. 20.000</td>
                <td>
                  <button type="button" name="" id="" class="btn btn-info px-3 mx-1">
                    <i class="fa-regular fa-image fa-lg my-auto"></i>
                  </button>
                </td>
                <td>
                  <button type="button" name="" id="" class="btn btn-dark px-3 mx-1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" name="" id="" class="btn btn-danger px-3 mx-1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td scope="row" class="align-middle">2</td>
                <td class="align-middle">Camping</td>
                <td class="align-middle">Tent 1 - 2 Person</td>
                <td class="align-middle">Rp. 15.000</td>
                <td>
                  <button type="button" name="" id="" class="btn btn-info px-3 mx-1">
                    <i class="fa-regular fa-image fa-lg my-auto"></i>
                  </button>
                </td>
                <td>
                  <button type="button" name="" id="" class="btn btn-dark px-3 mx-1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" name="" id="" class="btn btn-danger px-3 mx-1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td scope="row" class="align-middle">3</td>
                <td class="align-middle">Camping</td>
                <td class="align-middle">Tent 2 - 4 Person</td>
                <td class="align-middle">Rp. 25.000</td>
                <td>
                  <button type="button" name="" id="" class="btn btn-info px-3 mx-1">
                    <i class="fa-regular fa-image fa-lg my-auto"></i>
                  </button>
                </td>
                <td>
                  <button type="button" name="" id="" class="btn btn-dark px-3 mx-1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" name="" id="" class="btn btn-danger px-3 mx-1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td scope="row" class="align-middle">4</td>
                <td class="align-middle">Camping</td>
                <td class="align-middle">Tent 4 - 6 Person</td>
                <td class="align-middle">Rp. 55.000</td>
                <td>
                  <button type="button" name="" id="" class="btn btn-info px-3 mx-1">
                    <i class="fa-regular fa-image fa-lg my-auto"></i>
                  </button>
                </td>
                <td>
                  <button type="button" name="" id="" class="btn btn-dark px-3 mx-1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" name="" id="" class="btn btn-danger px-3 mx-1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-between bg-dark rounded-bottom">
        <!--Show Button-->
        <div>
          <span class="my-auto align-middle d-none d-sm-inline ">Show</span>
          <div class="btn-group mx-0 mx-sm-2">
            <button class="btn btn-dark border border-secondary dropdown-toggle px-1 py-0" type="button" id="triggerId"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10
            </button>
            <div class="dropdown-menu dropdown-menu-left bg-dark" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">10</a>
              <a class="dropdown-item" href="#">20</a>
              <a class="dropdown-item" href="#">50</a>
              <a class="dropdown-item" href="#">100</a>
            </div>
          </div>
        </div>
        <div class="ml-auto">
          <span class="my-auto align-middle d-none d-sm-inline ">Page</span>
          <div class="btn-group btn-group-sm" role="group" aria-label="First group">
            <a class="btn btn-dark "><i class="fa-solid fa-angle-left"></i></a>
            <a class="btn btn-dark text-white">1</a>
            <a class="btn btn-dark">2</a>
            <a class="btn btn-dark disabled">...</a>
            <a class="btn btn-dark">7</a>
            <a class="btn btn-dark "><i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
</section>